:root {
    --width: 50px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
    --wrap-left: 20px;
    --wrap-right: 20px;
}

html{
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(#161940 , #090a1a); */
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    color: #2a307a;
    background-color: #d4eef3;

}

p {
    font-size: calc(1rem + 0.75vw);
}

/* cover */

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	animation: slideDown ease 0.4s 0.3s 1 forwards;
	opacity: 0;
	position: relative;
}

a {
	text-decoration: none;
}

.header-nav ul li {
	padding: 2rem;
	display: inline-block;
	border: 0.2rem solid transparent;
}


.cover{
    height: 90vh;
    display: flex;
}

.svg-wrap{
    width: var(--width);
    box-sizing: border-box;
    position: relative;
}

.svg-containers{
    width: 40%;
    position: relative;
}

/* svgs */

.svg{
    width: var(--width);
    height: var(--width);
    box-sizing: border-box;
    animation: spin 8s linear infinite;
    top: 50%;
    left: 10%;
    left: var(--wrap-left);
    color: #fff;
}



.wrap-up{
    top: 15%;
}
.wrap-down{
    top: 25%;
}
.wrap-charm{
    top: 35%;
}
.wrap-strange{
    top: 45%;
}
.wrap-top {
    top: 55%;
}

/* postion individual svg */


.wrap-react{
    left: 92%;
}

.wrap-jquery{
    left: 62%;
}

.wrap-python{
    left: 32%;
}

.wrap-css{
    left: 62%;
}

.wrap-sass{
    left: 92%;
}

.wrap-redux{
    left: 30%;
}

.wrap-db{
    left: 60%;
}

.wrap-netlify{
    left: 30%;
}


@keyframes spin {
    100% {
        transform: rotate(360deg)
        }
}

/* intro */

.intro-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-greet{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2.4rem;
}

.intro-name{
    font-family: 'Nunito', serif;
    font-size: 6.4rem;
    margin:15px 0 20px 0;
}

/*  */

.container{
    width: 80%;
    max-width: 1400px;
}

section{
    margin: 40px 0;
}

.section-title{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
   
}

/* about */

.bio-box{
    display: flex;
    padding: 80px 0;
}

.bio-about{
    padding-right: 25px;
    width: 75%;
    left:0;
}

.bio-img{
    border-radius: 50%;
    width: 400px;
    margin-right: 15%;
}

/* projects */

.col-6{
    max-width: 48%;
}

.project-box{
    padding: 80px 0;
}


.project-box > li:nth-of-type(2n) {
    text-align: right;
}

.project-box > li:nth-of-type(2n+1) {
    text-align: left;
}


.project-box > li > :first-child{
    margin-right: 20px
}

.project-box > li > :last-child{
    margin-left: 20px
}

.projects{
    left: 15%;
}

.project{
    margin-bottom: 150px;
    display: flex;
    width: 100%;
    padding:40px 0;
}

.project-title {
    font-size: calc(2rem + 1vw);
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
}

.project-description{
    margin: 10px 0;
}

.projvid{
    opacity: 0.9;
    border: 0.2rem solid transparent;
    width: 100%;
}

.project-links, .project-tools-icons{
    display: flex;
    margin: 20px 0 20px 0 ;
}

.project-links a {
    font-size: calc(1rem + 0.75vw);
    color: #d57866;
    text-decoration: none;
}

.project-links a:hover{
    color:#2a307a;
    transition: all 0.3s ease-in-out;
}

.project-icon, .project-icon-img{
    font-size: 3rem;
}

.project-icon-img{
    width: 7%
}

.project-box > li:nth-of-type(2n) ul{
    justify-content: flex-end;
}


.project-box > li:nth-of-type(2n+1) ul{
    justify-content: flex-start;
}

.project-box > li:nth-of-type(2n) .project-icon, .project-box > li:nth-of-type(2n) .project-icon-img, .project-box > li:nth-of-type(2n) li > a {
    margin-left: 15px;
}

.project-box > li:nth-of-type(2n+1) .project-icon, .project-box > li:nth-of-type(2n+1) .project-icon-img, .project-box > li:nth-of-type(2n+1) li > a{
    margin-right: 15px;
}

h1{
    font-family: 'Nunito', serif;
    font-size: 4rem;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}



/* footer {
    flex-direction: column;
    background-color: #090a1a;
    padding: 10px 0;
} */

i {
    font-size: 200px;
}