:root {
    --width: 50px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
    --wrap-left: 20px;
    --wrap-right: 20px;
    --view-port: 100vh;
    --img-width: 100%
}

html{
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    color: #5d48cb;
    /* background: linear-gradient(to right, #d4eef3, #c0e6ed 40%,#acdee8 60%,#98d6e2 80%,#84cedc 90%); */
    background: radial-gradient(ellipse at left, #98d6e2, transparent), radial-gradient(ellipse at right, #d4f3e9, transparent);
    /* background-color: #d4eef3; */
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 4rem;
}


ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

p {
    font-size: calc(1rem + 1vw);
    color:#2a307a ;
}

i {
    font-size: 4rem;
    color: #2a307a;
}

/* cover */

.container{
    width: 80%;
    max-width: 1600px;
}

.cover{
    height: var(--view-port);
    position: relative;
}


.menu-big {
	display: flex;
    align-items: center; 
    justify-content: flex-end;
    font-size: 3rem;
    border-bottom: solid #5d48cb;
    padding: 20px 0;
}

.menu-link{
    margin: 0 10px;
    padding:10px 20px;
}

.menu-link:hover{
    background-color: #5d48cb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


/* intro */

.intro-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    padding-bottom: 20vh;
}


.intro-greet{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: calc(1rem + 3vw);
}

.intro-name{
    font-size: calc(1rem + 7vw);
    margin:15px 0 20px 0;
    font-family: 'Baloo Da 2', cursive;
    /* color: #d57866; */
    font-family: 'Roboto';
}

.intro-title{
    font-size: calc(1rem + 5vw);
    font-family: 'Zen Kurenaido', sans-serif;

}

.intro-box::after {
	content: "";
	height: calc(15vw);
	width: calc(10vw);
	display: block;
	position: absolute;
	bottom: 45%;
	left: -4%;
	z-index: -1;
}

.svg-img{
    position: absolute;
    width: 200px;
    height: 150px;
}


.img-python{
    top: 5%;
    left: 0%;
    
}

.img-redux{
    bottom:20%;
    right: -2%;
    animation: spin 4s linear infinite;
}

.img-react{
    top: 10%;
    right: -10%;
}

.img-node{
    bottom: 10%;
    left: -20%;

}

/* arrow */

.arrow {
    cursor: pointer;
    height: 120px;
    left: 50%;
    position: absolute;
    bottom: 10%;
    transform: rotate(90deg);
    transition: transform .1s;
    width: 80px;
}




    
.arrow-top, .arrow-bottom{
      background-color: #5d48cb;
      height: 4px;
      left: -5px;
      position: absolute;
      top: 50%;
      width: 100%;
}

.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-top:after, .arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
    
.arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}





/*  */



section{
    margin: 40px 0;
}

.section-title{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    /* color: #d57866; */
    font-size: calc(1rem + 4vw);
}

/* about */

.bio-container{
    border-bottom: solid 0.32rem #2a307a;
}

.bio-box{
    /* display: flex; */
    padding: 80px 0;
}

.about-box{
    margin-right: 10px;
}

.bio-about{
    padding-bottom: 25px;
    padding-right: 50px;
    line-height: 2;
}

.bio-img-box{
    width: 40%;
}

.bio-img{
    width: 100%;
    height: 80%;
    filter: saturate(60%);
    border-radius: calc(10vw);
}



.bio-links{
    margin: 20px 0;
}

.social-links{
    display: flex;
    color: inherit;
}

.social-links i {
    margin-right: 30px;
}

.social-links i:hover{
    color: #fff;
}

/* projects */

.projects{
    position: relative;
}

.project-container{
    border-bottom: solid 0.32rem #2a307a;
    padding-top: 40px;
}

.project-box{
    padding: 80px 0;
    position: relative;
}

.project{
    margin-bottom: 150px;
    padding:40px 0;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}





.project-text{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    position: relative;
}

.project-title {
    font-size: calc(1rem + 2vw);
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
}

.project-description{
    margin: 20px 0;
    line-height: 1.75;
}

.projvid{
    opacity: 0.9;
    border: 0.2rem solid transparent;
    width: 100%;

    /* top: -8px; */
}

.project-tools-icons{
    display: flex;
    margin: 10px 0;
}

.project-tool-container{
    width: calc(1rem + 0.9vw);
    max-height: 35px;
    max-width: 35px;
    margin-right: 10px;
}

.project-links{
    display: flex;
    margin: 15px 0;
}

.project-links a {
    font-size: calc(1rem + 1vw);
    color:inherit;
    text-decoration: none;
}

.project-links a:hover{
    color: #fff;
    transition: all 0.3s ease-in-out;
}



.project-tool-img{
    width: 100%;
    height: 100%;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0 15px 0;
}

.footer-links{
    margin-left: 25%;
}

.project-links li{ 
    background-color: #2a307a;
    border: solid #2a307a;;
    color:  #fff;
    padding: 2px 30px;
	border-radius: 8px;
}

.project-links li:hover{
    color:  #fff;
    background-color: #5d48cb;;
    border: solid #5d48cb;;
}

.live-link{
    margin-right: 20px;
}

/* svg images position */

/* .img-css{
    left: 100px;
    top: 750px;
}

.img-html{
    right: 100px;
    top: 100px;
}

.img-sass{
    left: 40px;
}

.img-npm{
    right: 5px;
}

.img-jquery{
    left: 5px;
}

.img-firebase{
    right: 15px
} */

/*  */

/* .project-box > li:nth-of-type(2n) .live-link::after{
    left: 190px;
}

.project-box > li:nth-of-type(2n) .live-link:hover:after{
    background-color: #2a307a;
}

.project-box > li:nth-of-type(2n+1) .live-link::after{
    left: 175px;
}
.project-box > li:nth-of-type(2n+1) .live-link:hover:after{
    background-color: #2a307a;
} */

@keyframes spin {
      100% {
        transform: rotate(360deg)
    }
}
/* media queries */



/* Mobile */

.header-nav-mobile{
    font-size: 3rem;
}

.hamburger {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border: solid transparent;
}

.close-icon {
    display: none;
}

.menu-mobile {
    position: fixed;
    transform: translateX(200%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    color: #5d48cb;
    background-color: #2a307a;
    list-style: none;
    padding-top: 4rem;
}

.menu-link-mobile{
    color: #fff;
}

.menu-mobile > li {
    margin-bottom: 10px;
}

.material-icons{
    font-size: 36px;
    color:#5d48cb;
}

.show-menu {
    transform: translateY(0);
  }
  
  



@media screen and (max-width: 750px){
    .menu-big{
        justify-content: space-between;
    }
    .menu-link-big{
        margin: 0;
        padding: 0 10px;
    }
    .intro-box{
        width: 100%;
    }
    .intro-name{
        font-size: calc(1rem + 10vw);

    }
    .intro-title{
        font-size: calc(1rem + 7vw);
    }
    .intro-greet{
        
        font-size: calc(1rem + 4vw);
    }
    .intro-box::after {
        border-left: #242b58 solid 10px;
        border-bottom: #242b58 solid 10px;
        bottom: 45%;
    }
    .bio-img-box{
        display: none;
    }
    .social-1{
        display: none;
    }
    .social-2{
        justify-content: space-evenly;
        margin-top: 80px;
    }
    .bio-img {
        border-radius: 1vw;
    }
    .svg-img{
        width: 150px;
        height: 100px;
    }
    .project{
        grid-template-columns: auto;
        margin-bottom: 0px;
    }
    .project-box > .project:nth-child(2n) .project-vid-container {
        grid-row-start: 1;
    }
    .project-content{
        margin: 0;
    }
    .project-vid-container{
        margin-bottom: 15px;
    }
    .project-text{
        margin-top: 15px;
    }
    p, .project-links a{
        font-size: calc(1rem + 1.5vw);
    }
    .project-links li{
        border-radius: 5px;
    }
    .contact-container{
        justify-content: space-between;
    }
    .footer-links{
        margin-left: 0;
    }
    .footer-links i {
        margin-right: 10px;
        font-size: 3rem;
    }
}

@media screen and (max-width: 450px){
    /* .intro-box::after{
        bottom: 50%;
        border-bottom: #242b58 solid 10px;
        border-left: #242b58 solid 10px;
        
    } */
    .social-links i {
        font-size: 3rem;
        margin-right: 10px;
    }
    .header-nav{
        display: none;
    }
    .intro-box::after {
        border-left: #242b58 solid 10px;
        border-bottom: #242b58 solid 10px;
        bottom: 40%;
        height: 25vw;
        width: 15vw;

    }
    .svg-img{
        width: 100px;
        height: 100px;
    }
    
}

/* desktop */

@media screen and (min-width: 451px){
    .header-nav-mobile{
        display: none;
    }
}

@media screen and (min-width: 751px){
    .bio-img-box-2{
        display: none;
    }
    .social-2{
        display: none;
    }
    .intro-box::after{
        bottom: calc(45%);
        border-left: #242b58 solid 15px;
        border-bottom: #242b58 solid 15px;
    }
    .project > div:nth-of-type(2n+1) {
        margin-right: 20px;
    }
    .project > div:nth-of-type(2n) {
        margin-left: 20px;
    
    }
}


@media screen and (min-width: 1400px){
    .intro-box::after{
        bottom: 35%;
        border-left: #242b58 solid 20px;
        border-bottom: #242b58 solid 20px;
    }
}


@media screen and (min-width: 1600px){
    .intro-box::after{
        bottom: 35%;
        border-left: #242b58 solid 20px;
        border-bottom: #242b58 solid 20px;
    }
}



@media screen and (min-width: 1287px){
    .project{
        flex-wrap: nowrap
    }
}
/* 
@media screen and (min-width: 901px){
    .intro-2{
        display:none
    }
    .project-box > li:nth-of-type(2n) {
        text-align: right;
    }
    
    .project-box > li:nth-of-type(2n+1) {
        text-align: left;
    }
    
    .project-box > li > :first-child{
        margin-right: 20px
    }
    
    .project-box > li > :last-child{
        margin-left: 20px
    }
    
    .project-box > li:nth-of-type(2n) .project-tools-icons,   .project-box > li:nth-of-type(2n) .project-links{
        justify-content: flex-end;
        align-items: center;
    }
    
    
    .project-box > li:nth-of-type(2n+1) .project-tools-icons{
        justify-content: flex-start;
        align-items: center;
    }
    
    .project-box > li:nth-of-type(2n) .project-icon, .project-box > li:nth-of-type(2n) .project-icon-container, .project-box > li:nth-of-type(2n) li > a {
        margin-left: 15px;
    }
    
    .project-box > li:nth-of-type(2n+1) .project-icon, .project-box > li:nth-of-type(2n+1) .project-icon-container, .project-box > li:nth-of-type(2n+1) li > a{
        margin-right: 15px;
    }
} */

@media screen and (min-width:750px){
    .svg-container-mobile{
        display: none;
    }
}

@media screen and (max-width: 2000px){
    .img-node{
        left: -10%;
    }
}

@media screen and (max-width: 1287px){
    .project{
        flex-wrap: nowrap
    }
}

/* @media screen and (max-width: 900px){
    .bio-box{
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 100%;
    }
    .bio-img-box{
        width: 100%;
        text-align: center;
    }
    .bio-img{
        width: 80%;
    }
    .project-box > li:nth-of-type(2n+1){
        flex-direction: column;
    }
    .project-box > li:nth-of-type(2n){
        flex-direction: column-reverse;
    }
    .project{
        margin-bottom: 80px;
    }
    .project-content{
        width: 100%;
    }
    .projvid{
        position:  unset;
    }
    .project-text{
        margin-top: 40px;
    }
    .project-icon-container{
        width: calc(1rem + 1.8vw);
    }
    .contact-container{
        justify-content: space-between;
    }
    p {
        font-size: calc(1rem + 0.80vw);
    }
    .project-links a {
        font-size: calc(1rem + 1.1vw);
    } 
     .social-1{
        display: none;
    } 
 .social-2{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
 
    .project-links, .project-tools-icons{
        margin: 6px 0;
    }
    .project-box > li .project-icon, .project-box > li .project-icon-container, .project-box > li li > a{
    margin-right: 15px;
    }
} */


/* @media screen and (max-width:750px){
    .cover{
      padding: 0;
      position: relative;
    }
    .svg-container-1, .svg-container-2{
        display: none;
    }
    .svg-container-mobile{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        z-index: 100;
        position: absolute;
    }
    .svg-wrap{
        top:0%;
        margin-top: 20px;
    }
    .wrap-top { 
        left: 0%;
        top:0
    }
    .wrap-up {
        left: 0%;
        top:0%
    }
    .wrap-charm {   
        left: 0%
    }
    .wrap-down {
        left: 0%
    } 
    .wrap-strange{
        left: 0%
    }
    .intro-name{
        font-size: calc(1rem + 12vw);
    }
    .intro-greet{
        font-size:calc(1rem + 5vw)
    }
    .bio-box, .project-box{
        padding: 40px 0;
    }
    .bio-img{
        width: 90%;
    }
    .project{
        margin-bottom: 0px;
    }
    .footer-links{
        margin-left: 5%;
    }
    .footer-links i {
        font-size: 2rem;
    }
    .section-title{
        font-size: calc(1rem + 4vw);
    }
    .project-title {
        font-size: calc(1rem + 2vw);
    }
    p{
        font-size: calc(1rem + 1.4vw);
    }
    .project-links a {
        font-size: calc(1rem + 1.8vw);
    }
} */
  
@media screen and (max-width:465px){
    .intro-name{
        font-size: calc(1rem + 18vw);
    }
    .section-title{
        font-size: calc(1rem + 4vw);
    }
    .bio-about{
        padding: 0px;
    }
    .bio-img{
        width: 100%;
    }
    .mobile-svg{
        width: calc(0.7*var(--width));
        height:  calc(0.7*var(--width));
    }
    .project-title {
        font-size: calc(1rem + 3vw);
    }
    p{
        font-size: calc(1rem + 1.8vw);
    }
    .project-links a {
        font-size: calc(1rem + 2.4vw);
    }
    /* .social-2 i{
        margin-right: calc(1rem + 2vw);
    } */

}

