:root {
    --width: 50px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
    --wrap-left: 20px;
    --wrap-right: 20px;
}

html{
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(#161940 , #090a1a); */
    background-color: #fff;
    color: #000;
    line-height: 1.5;

}

p {
    font-size: calc(1rem + 0.75vw);
}

/* cover */

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	animation: slideDown ease 0.4s 0.3s 1 forwards;
	opacity: 0;
	position: relative;
}

a {
	text-decoration: none;
}

.header-nav ul li {
	padding: 2rem;
	display: inline-block;
	border: 0.2rem solid transparent;
}


.cover{
    height: 90vh;
    display: flex;
}

.svg-wrap{
    width: var(--width);
    box-sizing: border-box;
    position: relative;
    color: red;
}

.svg-containers{
    width: 40%;
    position: relative;
}

/* svgs */

.svg{
    width: var(--width);
    height: var(--width);
    box-sizing: border-box;
    animation: spin 8s linear infinite;
    top: 50%;
    left: 10%;
    left: var(--wrap-left);
    color: #fff;
}



.wrap-up{
    top: 15%;
}
.wrap-down{
    top: 25%;
}
.wrap-charm{
    top: 35%;
}
.wrap-strange{
    top: 45%;
}
.wrap-top {
    top: 55%;
}

/* postion individual svg */


.wrap-react{
    left: 92%;
}

.wrap-jquery{
    left: 62%;
}

.wrap-python{
    left: 32%;
}

.wrap-css{
    left: 62%;
}

.wrap-sass{
    left: 92%;
}

.wrap-redux{
    left: 30%;
}

.wrap-db{
    left: 60%;
}

.wrap-netlify{
    left: 30%;
}


@keyframes spin {
    100% {
        transform: rotate(360deg)
        }
}

/* intro */

.intro-container{
    width: 20%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-greet{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2.4rem;
}

.intro-name{
    font-family: 'Nunito', serif;
    font-size: 6.4rem;
    margin:15px 0 20px 0;
}

/* about */

.bio-box{
    display: flex
}

.bio-about{
    padding-right: 25px;
    width: 75%;
    left:0;
}

.bio-img{
    border-radius: 50%;
    width: 400px;
    margin-right: 15%;
}

/* projects */

.projects{
    margin: 60px 0;
    left: 15%;
}

.project{
    margin: 150px 0;
    display: flex;
    width: 100%;
    height: 300px;
}

.project-box > li {
	margin: 7% 5% 5%;
}


.project-box > li:nth-of-type(2n) {
    text-align: right;
    margin-right: 0;
}

.project-box > li:nth-of-type(2n+1) {
    text-align: left;
    margin-left:0;
}

.project-text{
    width: 50%;
    padding:0 10px;
}

.project-title{
        font-size: calc(2rem + 1vw);
        margin: 0;
        font-weight: bold;
        position: relative;
}

.project-description{
    margin: 4% 0;
  
}

.projImg{
    width: 400px;
    height:250px;
    border-radius: 5px;
}

.projvid{
    opacity: 0.9;
    border: 0.2rem solid transparent;
    width: 100%;
}

.project-links{
    display: flex;
}

.project-box > li:nth-of-type(2n) .project-links{
    justify-content: flex-end;
}


.project-box > li:nth-of-type(2n+1) .project-links{
    justify-content: flex-start;
}


h1{
    font-family: 'Nunito', serif;
    font-size: 4rem;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.project-links>li>a{
    margin: 0 2px;
}

/* footer {
    flex-direction: column;
    background-color: #090a1a;
    padding: 10px 0;
} */